* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.4s;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
}


.navbar {
    display: flex;
    height: 5rem;
    width: 1200px;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    border-bottom: 2px solid rgb(223, 251, 219);
}

.hamburger-menu {
    padding-right: 1.5rem;
    cursor: pointer;
}

.hamburger-menu .line {
    display: block;
    width: 2.5rem;
    height: 2px;
    margin-bottom: 10px;
    background-color: black;
    cursor: pointer;
}

.logo img:nth-child(1) {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.nav-menu {
    position: fixed;
    width: 94%;
    top: 6rem;
    left: 18px;
    background-color: rgb(255, 255, 255);
    font-weight: 600;

}

.nav-menu a {
    display: block;
    text-align: center;
    padding: 5px 0;
}

.nav-menu a:hover {
    color: blue;
    text-decoration: underline;
    font-size: 22px;
}

.hide {
    display: none;
}

.login button img {
    width: 18px;
    color: #fff;
}

.login button {
    width: 100px;
    height: 35px;
    border-radius: 6px;
    background-color: #46A358;
    border: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.login {
    display: flex;
    gap: 50px;
}

.container {
    width: min(100% - 300px, calc(100% - 300px));
    margin: 0 auto;
}

/* for Desktop view  */
@media screen and (min-width:600px) {
    .navbar {
     justify-content: center;
     width: 100%;
    }

    .nav-menu {
        display: block;
        position: static;
        width: auto;
        margin-right: 20px;
        background: none;
    }

    .nav-menu a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger-menu {
        display: none;
    }
}
@media screen and (min-width:1235px) {
.login{
    margin-left: -800px;
}
.nav-menu{
margin-left: -800px;
}
}
@media only screen and (max-width: 853px) {
.login{
gap: 10px;
}
.nav-menu a{
font-size: 10px;
}
.nav-menu a:hover{
font-size: 11px;
}
}
@media only screen and (max-width: 600px) {
.navbar{
display: flex;
gap: 50px;
justify-content: center;
width: 600px;
}
.login{
    margin-right: 100px;
}

}
@media only screen and (max-width: 520px) {
    .login{
        margin-left: -250px;
    }
    .navbar{
        width: 500px;
    }
.nav-menu a{
background-color: rgba(0, 0, 0, 0);
width: 350px;
}
}